<div class="panel panel-primary">
    <div class="panel-body">
         <input type="text" [(ngModel)]="bookmark.Title"
                 placeholder="Title" class="col-md-5">
         <input type="text" [(ngModel)]="bookmark.Url"
                 placeholder="URL" class="col-md-4">
         <button (click)="onSave()" class="btn col-md-2 add">Add</button>
    </div>
</div>