$text-color: white;
$text-color2: #7fe220;



.panel-body{
    color: $text-color2;
    input{
        &::placeholder{
            font-family: Veranda;
            font-size: 20px;
         
         }
    }
    
    .add{
        background-color: $text-color2 ;
        font-size: 20px;
        &:hover{
            background-color: darken($text-color2,5%);
        }
    }
}
