/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Mukta');

*{
    box-sizing: border-box;
    font-family: 'Satisfy', cursive;
    font-size: 30px;
}

body{   
    background-color: #949494;
}

.btn{
    cursor: pointer;
}