<div class="container-fulid">
  <h1 class="display-4 text-center header"> Add links</h1>
  <bookmark-edit  class="col-md-12"[bookmark]= editableBookmark (save)="save($event)"></bookmark-edit>
  <bookmark-list  class="col-md-12" (remove)="remove($event)" (edit)="edit($event)" [bookmarks]="bookmarks"></bookmark-list>
</div>  