<div  *ngIf="!email; else forminfo" class="container-fluid">
  <form rol="form" class="col-md-5 forms"   autocomplete="off"  
      [formGroup]="gForm" (ngSubmit)="submitUser(gForm.value)">
     <h1 class="header"> Login Here</h1>
      <div class="form-group">
        <input type="email" class="form-control email" 
               placeholder="email" formControlName="email">   
        <p class="help-block"> exmple@gmial.com</p>             
      </div>
      <div class="form-group">
        <input type="password" class="form-control password"  
                placeholder="password"  formControlName="password" >          
      </div>
      <button type="submit" class="btn col-md-4" [disabled]="!gForm.valid">Login</button>
    </form>
  </div>

<ng-template #forminfo>
  <app-admin></app-admin>
</ng-template> 