$color1: white;
$bg-color1: #7fe220;
$bg-color2:  #949494;
$placeholder-color: #757575;


@mixin colors($text-color, $bg-color){
    color: $text-color;
    background-color: $bg-color;
}

.forms{
    margin: 0 auto;
    .header{
        margin-top: 100px;
        margin-bottom: 50px;
        text-align: center;
        color: $bg-color1;
    }
    input{
        @include colors($color1, $bg-color2);
        border: 0.5px solid $color1;
        border-radius: 0px;
        padding:  10px 2%;
        margin-bottom: 20px;
        font-family: 'Mukta', sans-serif;       
        &::placeholder{
            color: $placeholder-color;
            text-indent: 0px;
            transition: text-indent 300ms;
            font-family: 'Satisfy', cursive;   
        }
        &:focus::placeholder{
            text-indent: 102%;
            font-size: 15px;
        } 
    } 
    .help-block{
       font-size: 0.8em;
       color: $bg-color1;
    }
    .btn{
        margin-top: 30px;
        float: right;
        @include colors($color1, $bg-color1);
   }
}
