<div class="panel panel-default">
    <table class="table table-striped col-md-8">
      <tr *ngFor="let bookmark of bookmarks">
        <td>
          <img src="https://s-media-cache-ak0.pinimg.com/originals/91/a7/13/91a713ec5bd54f65e2629d3d0adb6003.gif">
          <a [href]="bookmark.url" target="_blank">
            {{bookmark.Title}}
          </a>
        </td>
        <td class="bottons">
          <button (click)="onEdit(bookmark)" class="btn col-md-4 edit">Edit</button>
          <button (click)="onRemove(bookmark)" class="btn  btn-danger col-md-4 delete">Delete</button>
        </td>
      </tr>
    </table>
  </div>